output/*
!output/.gitkeep

node_modules

.cache
.vscode
src/static/index.js.map
src/static/imgs/*
!src/static/imgs/.gitkeep
src/temp/*
!src/temp/.gitkeep
src/static/selected/*
!src/static/selected/.gitkeep
