click==7.1.2
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
imageio==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
networkx==2.4
numpy==1.18.3
opencv-python==4.4.0.42
Pillow==7.2.0
pycocotools==2.0.2
pygraphviz==1.6
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.4.1
six==1.15.0
svgwrite==1.4
tifffile==2020.9.3
torch==1.5.0
torchvision==0.6.0
webcolors==1.11.1
Werkzeug==1.0.1
