body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    color: #333;
}

header {
    margin: 0 auto 40px auto;
    max-width: 600px;
}

h1 {
    margin: {
        top: 20px;
        bottom: 10px;
    }
    font-size: 30px;
    text-align: center;
    color: rgb(36, 63, 153);
}

h2 {
    margin: {
        top: 0;
        bottom: 10px;
    }
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.4;
}

.button-outer {
    display: flex;
    justify-content: center;
}

.button {
    $background-color: rgb(60, 90, 190);

    margin-top: 20px;
    padding: 20px;
    background-color: $background-color;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    outline: none;
    transition: background-color 200ms ease-in;

    &:hover {
        background-color: darken($background-color, 8%);
    }

    &[disabled] {
        background-color: #ccc;
        color: #eee;
    }
}

.floorplans {
    margin: {
        top: 20px;
        left: 20px;
        right: 20px;
    }
    padding-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    list-style: none;

    a {
        display: block;
        border: 15px solid rgba(0, 0, 0, 0);

        &:hover {
            border-color: rgba(230, 51, 51, 0.4);
        }

        &.selected {
            border-color: rgb(230, 51, 51);
        }
    }

    img {
        padding: 10px;
    }
}

#spinner {
    /*padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}