svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
  
  /*svg:not(.active):not(.ctrl) {
    cursor: crosshair;
  }*/
  
  path.link {
    fill: none;
    stroke: #666;
    stroke-width: 4px;
    cursor: default;
  }
  
  svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
  }
  
  path.link.selected {
    stroke-dasharray: 10,2;
  }
  
  path.link.dragline {
    pointer-events: none;
  }
  
  path.link.hidden {
    stroke-width: 0;
  }
  
  circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
  }
  
  circle.node.reflexive {
    stroke: #000 !important;
    stroke-width: 2.5px;
  }
  
  text {
    font: 12px sans-serif;
    pointer-events: none;
  }
  
  text.id {
    text-anchor: start;
    //font-weight: bold;
    fill: #333;
  }

  .room-menu-item {
    circle {
      stroke-width: 2px;
      cursor: pointer;
    }

    text {
      stroke: none;
      fill: #333;
    }
  }

  #num-rooms {
    font-size: 14px;
    font-weight: bold;
    fill: #333;
  }

  #reset-button {
    rect {
      fill: rgb(60, 90, 190);
      cursor: pointer;
    }

    text {
      fill: #fff;
      text-anchor: middle;
    }
  }